
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");


@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Script&display=swap');

.quick {
    font-family: 'Quicksand', sans-serif;
}
.kumbh{
    font-family: 'Kumbh Sans', sans-serif;
}
.wish{
    background: #265657;
    border-radius: 15px;
    padding: 5px;

}
.easy-way{
    background: linear-gradient(90deg, #F58529 0%, #FEDA77 31.04%, #DD2A78 62.81%, #0162FF 87.81%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.body-back{
    background: linear-gradient(90deg, rgba(1, 98, 255, 0.4) 1.81%, rgba(24, 19, 30, 0.4) 32.6%, rgba(19, 19, 26, 0.4) 65.42%, rgba(1, 98, 255, 0.4) 96.25%), #13131A;
}
.add-t0-cart{
    background: #177dc7;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-weight: bold;

}
table {
    border: 2px solid;
    
    width: 100%;
  }
  th {
    border-bottom: 1px solid black;
  }
    .margin-table{
        margin-top: 10px;
    }
  td {
    text-align: center;
  }
.wish-image{
    position: absolute;
    top: 3%;
    left: 80%;
    background: #c58b8b;
    border-radius: 50%;
    padding: 10px;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.mycard {
background: rgba(255, 255, 255, 0.02);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(16px);
-webkit-backdrop-filter: blur(16px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
:root {
 --body-bg-color: #e5ecef;
 --theme-bg-color: #fafafb;
 --body-font: "Poppins", sans-serif;
 --body-color: #2f2f33;
 --active-color: #0162ff;
 --active-light-color: #e1ebfb;
 --header-bg-color: #fff;
 --search-border-color: #efefef;
 --border-color: #d8d8d8;
 --alert-bg-color: #e8f2ff;
 --subtitle-color: #83838e;
 --inactive-color: #f0f0f0;
 --placeholder-color: #9b9ba5;
 --time-button: #fc5757;
 --level-button: #5052d5;
 --button-color: #fff;
}
body {
    background-color: #fafafb;
    transition: .3s ease-in-out;
}
.mydrop {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.myshadow {
    box-shadow: rgb(37, 50, 98,0.1) -4px 9px 25px -6px;
}
.mygradient {
    background:linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
}
.reward-text{
    background: linear-gradient(89.87deg, #2300AB 1.79%, #00FFBD 49.61%, #C100BA 87.93%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}


/* sort oldest and newest assets css */
.dropdown {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
  }
  
  .dropdown-header {
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown-body {
    padding: 5px;
    border-top: 1px solid #E5E8EC;
    display: none;
  }
  
  .dropdown-body.open {
    display: block;
  }
  
  .dropdown-item {
    padding: 10px;
  }
  
  .dropdown-item:hover {
    cursor: pointer;
  }
  
  .dropdown-item-dot {
    opacity: 0;
    color: #91A5BE;
    transition: all .2s ease-in-out;
  }
  
  .dropdown-item-dot.selected {
    opacity: 1;
  }
  
  .icon {
    font-size: 13px;
    color: #91A5BE;
    transform: rotate(0deg);
    transition: all .2s ease-in-out;
  }
  
  .hide {
    font-size: 13px;
    color: #91A5BE;
    transform: rotate(0deg);
    transition: all .2s ease-in-out;
  }
  .icon.open {
    transform: rotate(90deg);
  }
  .hide.open{
    transform: rotate(90deg);
    position: absolute;
    left: -40px;
    top: 53%;
    padding: 2px;


  }

/* media type css */
.media-type{
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 25px 10px 25px;
}
.all-buy{
    padding: 10px 40px 10px 40px;
    background: white;
    color: black;
    border-radius: 20px;
    margin-left: 10px
}

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap'); 
    @layer base{
        body {
        @apply dark:bg-[#0a0b0c] dark:text-white;
    }
    }
.logo{
    font-family: 'Nova Script', cursive
}
.card-shadow{
    background: #4b4040;
    padding: 12px;

}
.card{
    height:80%;
    width:100%;
    
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 30%);
   font-family:"Didact Gothic",sans-serif;
  
}

.carousel .control-dots {
    display: none;
}
.carousel{
    height:70vh;
}

.active{
    color : #0162ff;
    border-bottom: 5px solid rgb(111, 109, 252);
   
}

.upload_color{
    /* background-color:rgba(0,0,0,54%); */
    transition:all ease-in 0.3s;
}
.upload_color:hover{
    /* background-color:rgb(102, 4, 102); */
    color:black;
}

.buttonconnect{
    padding:15px 40px;

    border-radius: 10px;
    background: linear-gradient(to right, #a8c0ff,#3f2b96 );
}

.top{
    position:absolute;
    left: 11rem;
    top:21rem;
}
.profile-img{
    background: linear-gradient(to right, #8E2DE2,#4A00E0 );

}
.rewards-style{
    background: linear-gradient(90deg, #F58529 0%, #FEDA77 33.12%, #DD2A78 63.33%, #0162FF 94.58%);
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.create-landing-nft{
    border-radius: 10px;
    padding: 10px;
    color: white;
    width: 50%;
    border: 2px solid black;
}
.explore-more{
    border-radius: 10px;
    padding: 10px;
    color: white;
}
.explore-btn-border{
   
  color: black;
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to right,#F58529,pink, darkblue) border-box;
border-radius: 50em;
border: 4px solid transparent;
}
.connect-profile{
    background: linear-gradient(to right, #e22d5d,#4A00E0 );
}
.select-profile-option{
    border-radius: 10px;
    font-size: 13px;
    padding: 0px 14px 0px 14px;
    background: black;
    color: white;
    border: 1px solid;
}

.model-overlay{
    background-color: rgba(0, 0, 0, 0.389);
    backdrop-filter: blur(5px);
}
.myshadow {
    box-shadow: 0 5px 15px rgba(#000, .2); 
}
    .mybar::-webkit-scrollbar {
        height: 10px;
        margin-top: 10px;
    margin-bottom: 10px;
}
.mybar::-webkit-scrollbar-track{
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background-color: #6e6e73;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mysnap {
    scroll-snap-type: x proximity;
}
@media screen and (min-width:672px) {
    .mysnap {
        scroll-snap-type: x mandatory;
    }
}
.mysnap-item {
    scroll-snap-align: center;
}

.myhigh {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mainhighlight {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/* theme light and dark */
body.dark {
    background-color: #292c35;
  }
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    width: 50px;
    height: 26px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
  }
  
  .ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }
  body.dark {
    background-color: #292c35;
  }
  .fa-moon {
    color: pink;
  }
  
  .fa-sun {
    color: yellow;
  }
  