/*
====================================
Google Fonts
====================================
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Script&display=swap');

body {
    /* background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%); */
    /* background: white; */
}
.myglass {
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.mycard {
    background: rgba(255, 255, 255, 0.02);
    /* background: rgb(146 151 179 / 13%); */
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(16px);
-webkit-backdrop-filter: blur(16px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap'); 
    @layer base{
        body {
        @apply dark:bg-[#13131a] dark:text-white;
    }
    }
.logo{
    /* font-family:Dancing Script; */
    font-family: 'Nova Script', cursive
}
.card{
    height:80%;
    width:100%;
    
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 30%);
   font-family:"Didact Gothic",sans-serif;
  
}


/* .button_explore{
    background-color: bg-blue-500;
} */
a{
    font-family:"Didact Gothic",sans-serif;
}

.home_background{
    background-image: linear-gradient(90deg,rgb(151, 150, 240),rgba(251, 199, 212, 0.877),rgb(253, 185, 155,64%));
}
/* p{
    font-family:"Didact Gothic",sans-serif;
} */
.buy{
    background-color: rgb(32 129 226);
}
.carousel .control-dots {
    display: none;
}
.carousel{
    height:70vh;
}

a{
    color: white;
}

a:hover{
    color: black;
   
}

.active{
    color : black;
    border-bottom: 5px solid rgb(111, 109, 252);
   
}
.upload{
    background-color: #f4f4f4;
    border: 2px dashed #c2cdda;
}
.upload_p{
    color:#737373;
    font-weight:900;
}
.upload_color{
    /* background-color:rgba(0,0,0,54%); */
    transition:all ease-in 0.3s;
}
.upload_color:hover{
    /* background-color:rgb(102, 4, 102); */
    color:black;
}
.input_background{
    background-color: #f4f4f4;
}

/* .filter{
    top:72px
} */

.buttonconnect{
    padding:15px 40px;

    border-radius: 10px;
    background: linear-gradient(to right, #a8c0ff,#3f2b96 );
}

.top{
    position:absolute;
    left: 11rem;
    top:21rem;
}
.profile-img{
    background: linear-gradient(to right, #8E2DE2,#4A00E0 );

}

.connect-profile{
    background: linear-gradient(to right, #e22d5d,#4A00E0 );
}

.model-overlay{
    background-color: rgba(0, 0, 0, 0.389);
    backdrop-filter: blur(5px);
}