#backcolor {
    background-color: white;
    width: 70px;
    height: 70px;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:1000;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background: linear-gradient(152.24deg, #1678d3 21.46%, hsl(310, 100%, 50%) 54.41%, hsl(197, 100%, 38%) 88.21%);
}
#spin {
  width: 35px;
  height: 35px;
  border: 4px solid hsla(203, 89%, 53%, 0.600);
  border-top-color: #1da1f2;
  border-radius: 50%;
  animation: animate 1s linear infinite;
  background: linear-gradient(152.24deg, black 21.46%, red 54.41%, pink 88.21%);
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}